<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>

    <meta charset="UTF-8">
    <title>Управление ключами</title>
    <div th:replace="allPagesTemplates :: all_pages_head_data"></div>
    <link rel="stylesheet" th:href="@{/csssource/item_list_stylesheet.css}">
    <script th:src="@{/jssource/utils.js}"></script>
    <script th:src="@{/jssource/shops.js}"></script>

</head>
<body>
<div th:replace="allPagesTemplates :: navBar"></div>

<style>
    td {
        max-width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
</style>

<div class="row">

    <div class="col-sm-2">
        <div th:replace="settingsFragments :: settings_option_list"></div>
    </div>

    <div class="col-sm-10">

        <div class="table-wrapper">

            <div class="table-title">

                <div class="row">

                    <div class="col-sm-4">

                        <h2>Управление ключами Prom.ua</h2>

                    </div>

                    <div class="col-sm-8">

                        <a title="Добавить Пользователя"
                           data-toggle="modal"
                           data-target="#addParamModal" class="btn btn-primary"><i class="material-icons">&#xe147;</i>
                            <span>Добавить ключ</span>
                        </a>

                    </div>


                </div>

            </div>
            <div class="table-filter">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="show-entries">
                            <span>Кол-во</span>
                            <select id="selectPageSize" class="form-control" onchange="location = this.value;">
                                <option th:value="@{/settings/keys(size=5)}"
                                        th:selected="${keysPage.getSize() == 5}">5
                                </option>
                                <option th:value="@{/settings/keys(size=15)}"
                                        th:selected="${keysPage.getSize() == 15}">15
                                </option>

                                <option th:value="@{/settings/keys(size=50)}"
                                        th:selected="${keysPage.getSize() == 50}">50
                                </option>
                                <option th:value="@{/settings/keys(size=100)}"
                                        th:selected="${keysPage.getSize() == 100}">100
                                </option>
                            </select>
                            <span>страниц</span>
                        </div>
                    </div>
                    <div class="col-sm-9">

<!--                        <form th:action="@{/settings/rozetka/params}" id="searchInputForm" method="get" role="form"-->
<!--                              autocomplete="off">-->

<!--                            <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i>-->
<!--                            </button>-->

<!--                            <div class="filter-group">-->
<!--                                <label>Имя</label>-->
<!--                                <input th:value="${searchName}" type="text" name="searchName"-->
<!--                                       class="form-control" id="searchNameInput">-->
<!--                            </div>-->

<!--                        </form>-->

                    </div>
                </div>
            </div>

            <table class="table table-striped table-hover" id="orderListTable">

                <thead>
                <tr>

                    <th>ID</th>
                    <th>Название</th>
                    <th>Ключи</th>
                    <th>Удалить</th>

                </tr>
                </thead>

                <tbody th:each="paramRoz : ${keysPage}">

                <tr>

                    <td th:text="${paramRoz.getId()}"></td>

                    <td style="" th:text="${paramRoz.getShopName()}"></td>

                    <td th:text = "${paramRoz.getApiKey()}"></td>

                    <td>
                        <a href="#" class="delete"
                           title="Редактировать"
                           data-toggle="modal"
                           data-target="#editParamModal"
                           th:data-param-id="${paramRoz.getId()}"
                           th:data-param-name="${paramRoz.getShopName()}"
                           th:data-param-key="${paramRoz.getApiKey()}">
                            <i class="material-icons">&#xE5C8;</i></a>
                    </td>

                    <td>
                        <a href="#" class="delete"
                           title="Удалить"
                           data-toggle="modal"
                           data-target="#deleteParamModal"
                           th:data-param-id="${paramRoz.getId()}"
                           th:data-param-name="${paramRoz.getShopName()}">
                            <i class="material-icons">&#xe5cd;</i></a>
                    </td>

                </tr>

                </tbody>
            </table>
            <div class="clearfix">

                <div class="hint-text">Всего позиций по поисковому запросу: <b
                        th:text="${keysPage.getTotalElements()}"></b>
                </div>


                <ul class="pagination">
                    <li class="page-item"><a
                            th:href="@{/settings/keys(size=${keysPage.getSize()})}"
                            class="page-link"> << </a></li>
                    <li class="page-item"><a
                            th:href="@{/settings/keys(page = ${keysPage.getNumber()-1},
                    size=${keysPage.getSize()})}"
                            th:if="${keysPage.getNumber() > 0}"
                            class="page-link"> < </a></li>
                    <li class="page-item active"><a class="page-link"
                                                    th:text="${keysPage.getNumber()}"></a></li>
                    <li class="page-item"><a
                            th:href="@{/settings/keys(page = ${keysPage.getNumber()+1},
                    size=${keysPage.getSize()})}"
                            th:if="${(keysPage.getNumber() + 1) < keysPage.getTotalPages()}"
                            class="page-link"> > </a></li>

                    <li class="page-item"><a
                            th:href="@{/settings/keys(page = ${keysPage.getTotalPages()-1},
                    size=${keysPage.getSize()})}"
                            class="page-link"> >> </a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addParamModal" tabindex="-1" role="dialog" aria-labelledby="addParamModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addParamModalLabel">Добавить ключ : </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">


                <div class="controls">

                    <label for="inputParamName">Название : </label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> </span>
                        </div>
                        <input type="text" class="form-control" id="inputParamName"
                               aria-describedby="inputGroup-sizing-sm">
                    </div>

                    <label for="inputParamName">Ключ : </label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> </span>
                        </div>
                        <input type="text" class="form-control" id="inputParamKey"
                               aria-describedby="inputGroup-sizing-sm">
                    </div>


                </div>

            </div>


            <div class="modal-footer">

                <button type="button" id="addParamLink" class="btn btn-secondary">Добавить</button>

            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="editParamModal" tabindex="-1" role="dialog" aria-labelledby="editParamModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editParamModalLabel">Редактировать ключ : </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">

                <div class="controls">

                    <label for="inputParamName">Название : </label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> </span>
                        </div>
                        <input type="text" class="form-control" id="editInputParamName"
                               aria-describedby="inputGroup-sizing-sm">
                    </div>

                    <label for="inputParamName">Ключ : </label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> </span>
                        </div>
                        <input type="text" class="form-control" id="editInputParamKey"
                               aria-describedby="inputGroup-sizing-sm">
                    </div>


                </div>

            </div>


            <div class="modal-footer">

                <button type="button" id="editParamButton" class="btn btn-secondary">Редактировать</button>

            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="deleteParamModal" tabindex="-1" role="dialog" aria-labelledby="deleteParamModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteParamModalLabel">Удаление ключа</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-header">
                <h5 class="modal-title" id="deleteParamModalNameLabel"></h5>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <h3><b>Удалить ключ?</b></M></h3>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                <button type="button" id="deleteParamButton" class="btn btn-primary">Удалить</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>