<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Редактирование поставщика</title>
    <div th:replace="allPagesTemplates :: all_pages_head_data"></div>
    <link rel="stylesheet" th:href="@{/csssource/item_list_stylesheet.css}">
    <script th:src="@{/jssource/supplier_res.js}"></script>
</head>
</head>
<body>
<div th:replace="allPagesTemplates :: navBar"></div>

<style>
    #presenceMatchers {
        padding-left: 35px;
    }
</style>

<div class="table-wrapper">
    <div class="table-title">
        <div class="row">
            <div class="col-sm-8">
                <div class="row-sm-4">
                    <h2>Host : <b th:text="${resource.getHostUrl()}"></b></h2>
                </div>
                <div class="row-sm-4">
                    <h2>Название: <b th:text="${resource.getName()}"></b></h2>
                </div>
            </div>
            <!--            <div class="col-sm-4">-->
            <!--                <a target="_blank" th:href="@{https://my.prom.ua/cms/product/edit/{id}(id=${product.getId()})}"-->
            <!--                   class="btn"><i class="material-icons">visibility</i>-->
            <!--                    <span>Prom.ua</span></a>-->
            <!--                <button id="checkValid" th:data-prod-id="${product.getId()}" class="btn btn-add"><i-->
            <!--                        class="material-icons">&#xe147;</i>-->
            <!--                    <span>Проверить</span></button>-->
            <!--                <h2 id="validPriceH"><b id="validPrice"></b></h2>-->

            <!--            </div>-->
        </div>
    </div>
</div>

<form id="orderForm" th:action="@{edit/submit}" method="post" role="form"
      autocomplete="off">

    <div id="presenceMatchers" class="form-group col-md-8">
        <label for="presenceMatchers"><h5>Статусы наличия:</h5></label>
        <div class="controls-1">

            <div id="presenceMatcher" class="entry" th:each="presenceMatcher : ${resource.getPresenceMatchers()}">
                <div class="form-row">

                    <div class="form-group col-md-2">
                        <input hidden
                               type="number"
                               class="form-control"
                               id="presenceMatcherId"
                               name="presenceMatcherId"
                               th:value="${presenceMatcher.getId()}">
                        <label for="selectStatus">Статус</label>
                        <select id="selectStatus" name="status" class="form-control">
                            <option th:each="statusIter : ${T(com.ekoskladvalidator.Models.Enums.Presence).values()}"
                                    th:value="${statusIter.name()}"
                                    th:text="${statusIter.getAlias()}"
                                    th:selected="${statusIter == presenceMatcher.getPresence()}">
                            </option>
                        </select>
                    </div>

                    <div class="form-group col-md-6" id="inputXPathInputDiv">
                        <label for="inputContainsString">Путь(XPath)</label>
                        <input class="form-control is-invalid"
                               id="xPathInput" type="text"
                               name="xPathInput"
                               th:value="${presenceMatcher.getPresencePathQuery()}"/>
                    </div>

                    <div class="form-group col-md-2">
                        <label for="inputContainsString">Содержит</label>
                        <input class="form-control is-invalid"
                               name="inputContainsString"
                               th:value="${presenceMatcher.getContainString()}"
                               id="inputContainsString" type="number"/>
                    </div>

                    <div class="form-group col-md-1">
                                                            <span class="input-group-btn">
                                                            <button class="btn btn-success btn-add" type="button">
                                                                <span class="glyphicon glyphicon-plus"></span>
                                                            </button>
                                                        </span>
                    </div>
                </div>
            </div>

            <div id="presenceMatcher" class="entry" th:if="${resource.getPresenceMatchers().size() == 0}">
                <div class="form-row">

                    <div class="form-group col-md-2">
                        <input hidden
                               type="number"
                               class="form-control"
                               id="presenceMatcherId"
                               name="presenceMatcherId"
                               th:value="${0}">
                        <label for="selectStatus">Статус</label>
                        <select id="selectStatus" name="status" class="form-control">
                            <option th:each="statusIter : ${T(com.ekoskladvalidator.Models.Enums.Presence).values()}"
                                    th:value="${statusIter.name()}"
                                    th:text="${statusIter.getAlias()}">
                            </option>
                        </select>
                    </div>

                    <div class="form-group col-md-6" id="inputXPathInputDiv">
                        <label for="selectStatus">Путь(XPath)</label>
                        <input class="form-control is-invalid"
                               id="xPathInput" type="text"
                               name="xPathInput"/>
                    </div>

                    <div class="form-group col-md-2">
                        <label for="inputContainsString">Содержит</label>
                        <input class="form-control is-invalid"
                               name="inputContainsString"
                               id="inputContainsString" type="number"/>
                    </div>

                    <div class="form-group col-md-1">
                                                            <span class="input-group-btn">
                                                            <button class="btn btn-success btn-add" type="button">
                                                                <span class="glyphicon glyphicon-plus"></span>
                                                            </button>
                                                        </span>
                    </div>
                </div>
            </div>

        </div>


        <div class="form-group">
            <button class="btn btn-outline-success my-2 my-sm-0" id="submitButton" type="submit">
                Сохранить
            </button>
        </div>
    </div>
</form>

</body>
</html>